<ul class="nav">
    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} active{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    <!-- End the loop -->
</ul>