<section class="subscribe-form">
    <h3 class="subscribe-form-title">Subscribe to the newsletter</h3>
    <p class="subscribe-form-description">Get the latest posts delivered right to your inbox</p>
    <form
        action="https://muchbetteradventures.us2.list-manage.com/subscribe/post?u=8ef039ed02db26fcd1c723274&id=a887ab1707"
        target="_blank" method="post">
        <div class="form-group">
            <input class="subscribe-email" name="EMAIL" placeholder="youremail@example.com" />
            <input type="hidden" id="gdpr_13" name="gdpr[13]" value="Y" class="av-checkbox gdpr">
            <button class="button primary" type="submit">
                <span class="button-content">Subscribe</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
        </div>
        <div class="message-error">
            Please enter a valid email address!
        </div>
    </form>
</section>