{{!< primary-tag}}

{{#post}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    {{#has tag="#Content Top" }}
    <section class="post-full-content">
        <div class="post-content">
            {{content}}
        </div>
    </section>
    {{/has}}
    <div class="inner posts">
        {{#get "posts" include="tags,authors" filter="primary_tag:{{primary_tag.slug}}+featured:true" limit="3"}}
        {{#if posts}}
        <div class="featured-posts">
            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
        </div>
        {{/if}}
        {{/get}}
        {{#foreach tags }}
        {{#if @first }}
        {{> "primary-tag-section" primary_tag=../primary_tag.slug secondary_tag=slug exclude_tag1="hash-out-of-date" exclude_tag2="___"}}
        {{else}}
        {{> "primary-tag-section" show_header=1 primary_tag=../primary_tag.slug secondary_tag=slug exclude_tag1="hash-out-of-date" exclude_tag2="___"}}
        {{/if}}
        {{/foreach}}
    </div>
    {{#has tag="#Content Bottom" }}
    <section class="post-full-content">
        <div class="post-content">
            {{content}}
        </div>
    </section>
    {{/has}}
</main>
{{/post}}