/* #hide-post-image

Posts tagged with #hide-post-image will have the post image hidden on the post view.

*/

.post-full.tag-hash-hide-post-image .post-full-image,
.post-full.tag-hash-wp .post-full-image {
    display: none;
}

/* ----------------------------------------------------------

#auto-drop-caps

Auto drop caps styles on first letter of first para of post, OR first para after an auto caption.
*/

.post-full.tag-hash-auto-drop-caps
    .post-full-content
    p:first-of-type::first-letter,
.post-full.tag-hash-wp .post-full-content p:first-of-type::first-letter {
    font-weight: bold;
    font-size: 6rem;
    margin-top: 1rem;
    float: left;
    margin-right: 0.1em;
}

/* WP images imported with links look like this */
a.kg-card.kg-image-card {
    margin: 0.8em 0 2.3em;
}
