/* #hide-post-image

Posts tagged with #hide-post-image will have the post image hidden on the post view.

*/

.post-full.tag-hash-hide-post-image .post-full-image,
.post-full.tag-hash-wp .post-full-image {
  display: none;
}

/* ----------------------------------------------------------

#auto-drop-caps

Auto drop caps styles on first letter of first para of post, OR first para after an auto caption.
*/

.post-full.tag-hash-auto-drop-caps
  .post-full-content
  .post-content
  > p:first-of-type::first-letter,
.post-full.tag-hash-wp
  .post-full-content
  .post-content
  > p:first-of-type::first-letter,
.next-p-auto-drop-caps + p::first-letter {
  float: left;
  font-weight: bold;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

/* WP images imported with links look like this */
a.kg-card.kg-image-card {
  margin: 0.8em 0 2.3em;
}

/* Fix blockquotes came over funny */
.post-full.tag-hash-wp p[style="text-align: center;"] {
  margin: 0 0 1.5em;
  padding: 0 1.5em;
  border-left: color-mod(var(--green)) 3px solid;
  font-size: 1.2em;
  line-height: 1.5em;
  position: relative;
  text-align: center !important;
  font-weight: bold;
}
